@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700;900&family=Open+Sans:wght@500;700&display=swap");
* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif; }

body {
  margin: 0;
  overflow-x: hidden; }

#background {
  background: url("../dist/images/1618.jpg");
  background-size: 30%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1; }

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #020202;
  color: #ddc; }
  header h1 {
    font-size: 1.7rem;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px; }
    header h1 img {
      max-height: 1.5rem; }
  header a {
    font-family: 'Merienda', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ddc; }

nav ul {
  list-style-type: none;
  display: flex;
  gap: 50px; }
nav #nav_new-game {
  cursor: pointer; }

#content {
  position: relative;
  height: 90vh;
  width: 100vw;
  padding-top: 40px;
  overflow-x: hidden; }

#homepage {
  position: absolute;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%; }

#image-selection_container {
  display: flex; }

#gamezone {
  position: absolute;
  transition: all 0.5s;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  gap: 16px; }

.gamezone-elements {
  display: none;
  color: #ffffff; }

.timer_container {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 12px; }
  .timer_container img {
    height: 40px;
    width: auto; }

#image-container {
  display: none;
  position: relative;
  box-sizing: content-box;
  border: 50px solid #ddc;
  background-color: #ddc; }
  #image-container #image {
    max-height: 1500px;
    max-width: 1500px; }

#target-box {
  position: absolute;
  height: 80px;
  width: 80px;
  border: 3px solid black;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(123, 166, 180, 0.2) 20%, lightblue 100%); }

#dropdown-choices {
  position: absolute;
  height: auto;
  padding: 4px;
  border: 4px solid black;
  border-radius: 4px;
  background-color: #ffffff; }
  #dropdown-choices ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    #dropdown-choices ul li {
      display: flex;
      align-items: center;
      gap: 4px;
      margin: 2px 0; }
      #dropdown-choices ul li:hover {
        cursor: pointer;
        background-color: #dddddd; }
  #dropdown-choices img {
    object-fit: contain;
    max-height: 30px;
    width: 30px; }

.pin-image {
  position: absolute;
  max-height: 70px;
  max-width: 70px; }

#game-over-modal {
  display: none;
  width: 500px;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

#slider {
  width: 100%;
  max-width: 1000px;
  height: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 10px; }

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
  display: flex;
  padding: 16px;
  background-color: #ffffffae; }

.slide img {
  width: 50%;
  height: 100%;
  object-fit: cover; }

.frame-border {
  background-color: #ddc;
  border: solid 16px #eee;
  border-bottom-color: #983820;
  border-left-color: #84240c;
  border-radius: 2px;
  border-right-color: #84240c;
  border-top-color: #701000;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  display: inline-block;
  padding: 8px;
  position: relative;
  text-align: center; }
  .frame-border:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin; }
  .frame-border:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin; }

.image-preview {
  height: 500px;
  width: 300px; }

.slide-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.slider_image-credits {
  font-family: 'Merienda', sans-serif;
  font-size: 1.4rem; }

.category-title {
  padding: 6px;
  background-color: #333333;
  color: #eeeeee;
  border-radius: 5px 5px 0 0; }

.characters-list {
  width: 80%;
  border-radius: 5px;
  background: #ddddcc;
  background: linear-gradient(180deg, #ddddcc 20%, rgba(221, 221, 204, 0.33) 100%); }
  .characters-list ul {
    margin: 0;
    padding: 6px 12px; }

.characters-list-item {
  display: flex;
  align-items: center;
  gap: 8px; }
  .characters-list-item img {
    object-fit: contain;
    height: 40px;
    max-width: 40px; }

.leaderboard {
  width: 80%;
  border-radius: 5px;
  background: rgba(221, 221, 204, 0.7);
  background: linear-gradient(180deg, rgba(255, 215, 0, 0.2) 0%, rgba(221, 221, 204, 0.33) 100%); }
  .leaderboard ul {
    list-style-type: none;
    margin: 0;
    padding: 6px 6px 6px 12px; }
    .leaderboard ul:first-child {
      color: blue; }
  .leaderboard li:first-of-type::before {
    content: '';
    background-image: url("../dist/images/gold-medal.png");
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 4px; }
  .leaderboard li:nth-of-type(2)::before {
    content: '';
    background-image: url("../dist/images/silver-medal.png");
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 4px; }
  .leaderboard li:nth-of-type(3)::before {
    content: '';
    background-image: url("../dist/images/bronze-medal.png");
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px; }

.image-selection_button {
  font-size: 1.5rem;
  background-color: #983820;
  color: #ffffff;
  border: none;
  border-radius: 7px;
  width: 200px;
  height: 65px;
  box-shadow: 3px 3px 3px #00000067; }
  .image-selection_button:hover {
    background-color: #84240c;
    cursor: pointer; }
  .image-selection_button:active {
    background-color: #701000; }

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px; }
  .btn:hover {
    background-color: #d3c8d8; }
  .btn:active {
    transform: scale(1.1);
    background-color: #856690; }

.btn-prev {
  bottom: 16px;
  left: 16px; }

.btn-next {
  bottom: 16px;
  right: 16px; }

/*# sourceMappingURL=style.css.map */
