@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@700;900&family=Open+Sans:wght@500;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  margin: 0;
  overflow-x: hidden;
}

#background {
  background: url('../dist/images/1618.jpg');
  background-size: 30%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #020202;
  color: #ddc;

  h1 {
    font-size: 1.7rem;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 8px;
    transition: all 0.5s;

    img {
      max-height: 1.5rem;
    }

    &:hover {
      text-shadow: 0 0 10px #ffffffaf;
    }
  }

  a {
    font-family: 'Merienda', sans-serif;
    font-weight: 900;
    letter-spacing: 1px;
    text-decoration: none;
    color: #ddc;
  }
}

#nav_new-game {
  cursor: pointer;
  background-color: #ddc;
  color: #333333;
  font-weight: 700;
  padding: 8px;
  border-radius: 4px;
  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0 24px #ffffffdb;
  }

  &:active {
    background-color: rgb(181, 181, 171);
    box-shadow: 0 0 16px #ffffffdb;
  }
}

#content {
  position: relative;
  height: 90vh;
  width: 100vw;
  padding-top: 40px;
  overflow-x: hidden;
}

#homepage {
  position: absolute;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

// Homepage
#image-selection_container {
  display: flex;
}

// Game display
#gamezone {
  position: absolute;
  transition: all 0.5s;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: auto;
  gap: 16px;
  padding: 16px 0;
  top: 0;
}

.gamezone-elements {
  display: none;
  color: #ffffff;
}

.timer_container {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 12px;

  img {
    height: 40px;
    width: auto;
  }
}

#image-container {
  display: none;
  position: relative;
  box-sizing: content-box;
  //height: fit-content;
  //width: fit-content;
  border: 50px solid #ddc;
  background-color: #ddc;

  #image {
    max-height: 1500px;
    max-width: 1500px;
  }
}

#target-box {
  position: absolute;
  height: 80px;
  width: 80px;
  border: 3px solid black;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(123,166,180,0.2) 20%, rgba(173,216,230,1) 100%);
}

#dropdown-choices {
  position: absolute;
  height: auto;
  padding: 4px;
  border: 4px solid black;
  border-radius: 4px;
  background-color: #ffffff;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      display: flex;
      align-items: center;
      gap: 4px;
      margin: 2px 0;

      &:hover {
        cursor: pointer;
        background-color: #dddddd;
      }
    }
  }

  img {
    object-fit: contain;
    max-height: 30px;
    width: 30px;
  }
}

.pin-image {
  position: absolute;
  max-height: 70px;
  max-width: 70px;
}

#backdrop {
  display: none;
  position: fixed;
  z-index: 2;
  height: 100vh;
  width: 100vw;
  background-color: #777777a1;
}

#game-over-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 500px;
  background-color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #0000007a;
  z-index: 3;
}

.game-over_message {
  display: flex;
  align-items: center;
  font-family: 'Merienda', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;

  .icon {
    height: 30px;
    width: 30px;
  }
}

.game-over_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;

  input[type="text"] {
    border-radius: 4px;
    padding: 4px;
  }
}

#submit-score-button {
  background-color: rgb(152, 56, 32);
  color: #ffffff;
  border: none;
  border-radius: 7px;
  padding: 12px;
  width: 200px;
  box-shadow: 1px 1px 1px #00000067;

  &:hover {
    background-color: rgb(132, 36, 12);
    cursor: pointer;
  }

  &:active {
    background-color: rgb(112, 16, 0);
  }
}

.game-over_actions {
  display: flex;
}

.empty-username-message {
  display: none;
  font-size: 0.8rem;
  text-align: center;
  color: rgb(255, 0, 0);
}

// Image carousel
#slider {
  width: 100%;
  //max-width: 800px;
  max-width: 1000px;
  height: 600px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.slide {
  width: 100%;
  //max-width: 1000px;
  height: 100%;
  position: absolute;
  transition: all 0.8s;
  display: flex;
  padding: 16px;
  background-color: #ffffffae;
}

.slide img {
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.frame-border {
  background-color:#ddc;
  border:solid 16px #eee;
  border-bottom-color:rgb(152, 56, 32);
  border-left-color:rgb(132, 36, 12);
  border-radius:2px;
  border-right-color:rgb(132, 36, 12);
  border-top-color:rgb(112, 16, 0);
  box-shadow:0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
  display:inline-block;
  padding:8px;
  position:relative;
  text-align:center;
  &:before {
    border-radius:2px;
    bottom:-2vmin;
    box-shadow:0 2px 5px 0 rgba(0,0,0,.25) inset;
    content:"";
    left:-2vmin;
    position:absolute;
    right:-2vmin;
    top:-2vmin;
  }
  &:after {
    border-radius:2px;
    bottom:-2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25);
    content:"";
    left:-2.5vmin;
    position:absolute;
    right:-2.5vmin;
    top:-2.5vmin;
  } 
}

.image-preview {
  height: 500px;
  width: 300px;
}

.slide-info {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-left: 16px;
}

.slider_image-credits {
  font-family: 'Merienda', sans-serif;
  font-size: 1.4rem;
  text-align: center;
}

.category-title {
  padding: 6px;
  background-color: #333333;
  color: #eeeeee;
  border-radius: 5px 5px 0 0;
}

.characters-list {
  width: 80%;
  border-radius: 5px;
  background: rgb(221,221,204);
  background: linear-gradient(180deg, rgba(221,221,204,1) 20%, rgba(221,221,204,0.33) 100%);

  ul {
    margin: 0;
    padding: 6px 12px;
  }
}

.characters-list-item {
  display: flex;
  align-items: center;
  gap: 8px;

  img {
    object-fit: contain;
    height: 40px;
    max-width: 40px;
  }
}

.leaderboard {
  width: 80%;
  border-radius: 5px;
  background: rgba(221,221,204,0.7);
  background: linear-gradient(180deg, rgba(255,215,0,0.2) 0%, rgba(221,221,204,0.33) 100%);
  //background: rgb(211,200,216);
  //background: linear-gradient(0deg, rgba(211,200,216,0.7) 20%, rgba(238,233,239,0.7) 100%);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 6px 6px 6px 12px;

    &:first-child {
      color: blue;
    }
  }

  li:first-of-type::before {
    content: '';
    background-image: url('../dist/images/gold-medal.png');
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 4px;
  }

  li:nth-of-type(2)::before {
    content: '';
    background-image: url('../dist/images/silver-medal.png');
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 4px;
  }

  li:nth-of-type(3)::before {
    content: '';
    background-image: url('../dist/images/bronze-medal.png');
    background-size: contain;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 6px;
  }
}

.image-selection_button {
  font-size: 1.5rem;
  background-color: rgb(152, 56, 32);
  color: #ffffff;
  border: none;
  border-radius: 7px;
  width: 200px;
  height: 65px;
  box-shadow: 3px 3px 3px #00000067;

  &:hover {
    background-color: rgb(132, 36, 12);
    cursor: pointer;
  }

  &:active {
    background-color: rgb(112, 16, 0);
  }
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 3;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;

  &:hover {
    background-color: #d3c8d8;
  }

  &:active {
    transform: scale(1.1);
    background-color: #856690;
  }
}

.btn-prev {
  bottom: 16px;
  left: 16px;
}

.btn-next {
  bottom: 16px;
  right: 16px;
}

